.cid-qMoQQ6L4V4 {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url("/assets/images/background6.jpg");
}

.cid-qMoQQ6L4V4 h4 {
    font-weight: 500;
    color: #ffffff;
}

.cid-qMoQQ6L4V4 p {
    color: #ffffff;
}

.cid-qMoQQ6L4V4 .card {
    margin-bottom: 2rem;
}

.cid-qMoQQ6L4V4 .card-img {
    border-radius: 0;
    padding: 2rem 2rem 0 2rem;
    background-color: #149dcc;
}

.cid-qMoQQ6L4V4 .card-img span {
    font-size: 100px;
    color: #ffffff;
}

.cid-qMoQQ6L4V4 .card-box {
    padding-bottom: 2rem;
    background-color: #149dcc;
    background: linear-gradient(#149dcc, transparent);
}

.cid-qMoQQ6L4V4 .card-box .card-title {
    margin: 0;
    padding: 2rem 2rem 0 2rem;
}

.cid-qMoQQ6L4V4 .card-box .mbr-text {
    margin-bottom: 0;
    padding: 2rem 2rem 0 2rem;
}

.cid-qMoQQ6L4V4 .card-box .mbr-section-btn {
    padding-top: 1rem;
}

.cid-qMoQQ6L4V4 .card-box .mbr-section-btn a {
    margin-top: 1rem;
    margin-bottom: 0;
}